@import '../abstracts/config';

.u-hover\:bg-primary:hover {
  background-color: map-get($base-colors, primary);
}

.u-focus\:outline-none:focus {
  outline: none;
}

.u-active\:opacity-75:active {
  opacity: 0.75;
}

// Example: transition utility
.u-transition-all {
  transition: all 0.2s ease-in-out;
}
